*{
    box-sizing: border-box;
}

nav{
    position: sticky;
    top: 0;
    z-index: 2;
}

/* *************************** FİRST NAVBAR *********************** */

.first_navbar{
    /* position: sticky;
    top: 0;
    z-index: 2; */
    background-color: white;
    border-bottom: 1px solid #EDEDED;
}

.first_navbar .container{
    width: 85%;
    height: 50px;
}

.first_navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 9px 0 0 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: 'Proxima Nova', sans-serif;
    color: #5F6369;
}

.first_navbar ul i{
    margin-left: 5px;
    font-size: 12px;
}

.first_navbar ul ul:nth-child(1) li:nth-child(3){
    margin-left: 30px;
}

.first_navbar ul ul:nth-child(1) li:nth-child(4){
    margin: 0 10px 0 10px;
}

.first_navbar ul ul:nth-child(1) li:nth-child(6) {
    margin: 0 30px 0 30px;
}

.first_navbar ul ul:nth-child(1) li:nth-child(7){
    color: black;
}

.first_navbar ul ul:nth-child(1) li:nth-child(7) img{
    width: 15px;
    height: 15px;
}

.first_navbar ul ul:nth-child(2) li:nth-child(1) img,
.first_navbar ul ul:nth-child(2) li:nth-child(3) img,
.first_navbar ul ul:nth-child(2) li:nth-child(4) img,
.first_navbar ul ul:nth-child(2) li:nth-child(6) img{
    width: 18px;
    height: 18px;
    margin-left: 30px;
}

/* *************************** SECOND NAVBAR *********************** */

.second_navbar{
    background-color: white;
    border-bottom:1px solid #EDEDED ;
}

.second_navbar .container{
    height: 66px;
    width: 85%;
}

.second_navbar .container .col{
    display: flex;
}

.second_navbar ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1px 0 0 0;
    letter-spacing: 0.03em;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #231F20;
}

.second_navbar ul ul:nth-child(2){
    padding: 9px 0 0 0;
}

.second_navbar ul ul:nth-child(2) li{
    display: flex;
    width: 355px;
    margin-left: 108px;
    font-size: 16px;
    font-family: 'Proxima Nova', sans-serif;
}

.second_navbar ul ul:nth-child(2) div{
    width: 31%;
    margin: 0 30px 0 10px;
}

.second_navbar ul ul:nth-child(2) button {
    color: white;
    font-size: 14px;
    width: 155px;
    padding: 0 10px 0 10px;
    background-color: #FAA61A;
}

.second_navbar .container ul ul:nth-child(1) li:nth-child(1) img{
    width: 147px;
    height: 40px;
    margin-right: 30px;
    margin-top: 5px;
}

.second_navbar .container ul ul:nth-child(1) li:nth-child(2),
.second_navbar .container ul ul:nth-child(1) li:nth-child(3),
.second_navbar .container ul ul:nth-child(1) li:nth-child(4),
.second_navbar .container ul ul:nth-child(1) li:nth-child(5),
.second_navbar .container ul ul:nth-child(1) li:nth-child(6){
    font-size: 19px;
    text-transform: none;
    margin: 20px 9px 0 9px;
}

/* ************************* CAROUSEL SECTİON ************************** */

.carousel .container{
    height: 410px;
    width: 85%;
} 

.carousel .image-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 410px;
}

.gallery {
    height: 410px;
    cursor: pointer;
}

.image-holder {
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.5s;  
    
}

.image-holder .textOfSlide{
   padding-left: 75px;
}

.carousel .image-holder h1{
    font-size: 38px;
    font-weight: 600;
    color: #231F20;
    letter-spacing: 0.06em;
    line-height: 110%;
}

.carousel .image-holder p{
    margin-top: 28px;
    font-size: 18px;
    font-style: normal;
    color: #5F6369;
    letter-spacing: 0.06em;
}

.carousel .image-holder button{
    margin-top: 34px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.12em;
    padding: 16px 30px;
    border-radius: 8px;
    text-align: center;
    background-color: #F9C20A;
}

.carousel .icon-left{
    justify-content: start;
}

.carousel .icon-right{
    justify-content: end;
}

.carousel .icon-left i,.carousel .icon-right i{
    width: 48px;
    height: 48px;
    background: #d6a10e;
    border-radius: 50%;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    /* z-index: 1; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.carousel .image-holder img {
    width: 100%;
    height: 660px;
    object-fit: contain;
}

.active {
    opacity: 1;
}

/* ************************* NAV & TABS SECTİON ************************** */

.news_cards{
    background-color: #f1f1f1;
    height: auto;
    padding: 41px 0 41px 0;
}

.news_cards .container{
    width: 85%;
    box-sizing: border-box;
}

/* .secondtab{
    height: 600px;
} */

.news_cards .container .main ul li{
    color: #5F6369;
    margin-right: 48px;
    letter-spacing: 0.06em;
    font-size: 18px;
}

.news_cards .container  .row{
    justify-content: space-between;
}

.news_cards .container .col-3{
    display: flex;
    width: 320px;
    height: 400px;
}

.news_cards .container #home{
    padding-top: 40px;
}

.news_cards .container .card{
    width: 290px;
    height: 400px;
    border: 0;
}

.news_cards .col-3:nth-child(1) img{
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 180px;
}

.news_cards .col-3:nth-child(2) img{
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    width: 191px;
    height: 180px;
}

.news_cards .col-3:nth-child(3) img{
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    width: 219px;
    height: 180px;
}

.news_cards .col-3:nth-child(4) img{
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    width: 158px;
    height: 180px;
}

.news_cards .container .card-title{
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #5F6369;
    padding: 6px 12px;
    border: 1px solid #D7D8D6;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
}

.news_cards .container .card-text{
    line-height: 120%;
    margin-top: 20px;
    font-size: 22px;
    letter-spacing: 0.06em;
}

.news_cards .container .card a{
    width: 100%;
    margin-top: 18px;
    background: #F5F5F5;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.12em;
    margin-left: 0;
    border: 0;
    color: #231F20;
    margin-bottom: 10px;
}

.tab_content{
    display: none;
  }
  .active.tab_content{
    display: block;
  }
  .tabs{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    border-bottom: 1px solid #D7D8D6;
  }
  
  .main{
    padding: 0;
    margin: 0;
  }
  
  .tab{
    cursor: pointer;
    padding: 10px;
  }
  .tab.active{
    color: #ff0141;
    border-bottom: 1px solid #5F6369;
  }
 
  .news_cards a{
    text-decoration: none;
    color: black;
    margin-left: 1.5em;
    background-color: #ccc;
    color: white;
    padding: .3em;
    border-radius: 5px;
  }

  .news_cards a:hover{
    background-color: #fd9f34 !important;
  }

  .news_cards .container .card-deck .row{
    padding: 40px 0 40px 0;
  }

  .news_cards .container .card-deck .col-4 .card{
    width: 405px;
    height: 335px;
    padding: 20px 13px ;
  }

  .news_cards .container #pricing button{
    width: 100%;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.12em;
    line-height: 24px;
    text-transform: uppercase;
  }

  .news_cards .container #pricing button:hover{
    background-color: #fd9f34;
  }

  .news_cards .container #pricing .card-body .card-textx{
    letter-spacing: 0.06em;
    color: #5F6369;
    font-size: 18px;
    line-height: 160%;
    bottom: 5px;
    position: absolute;
  }

  .news_cards .container #pricing .card-body .card-titlex{
    font-size: 22px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #231F20;
    margin-top: 0px;
    font-weight: normal;
    font-style: normal;
  }

  /* ********************** CALCULATOR ==> HOMEX SECTION *************************** */

.calculator{
    height: auto;
    padding: 31px 0 91px 0;
}

.calculator .container{
    width: 82%;
    box-sizing: border-box;
}

.calculator .tabs{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #D7D8D6;
  }

.calculator .container .main ul li{
    color: #5F6369;
    margin-right: 30px;
    letter-spacing: 0.06em;
    font-size: 18px;
    padding-left: 0;
    font-size: 17px;
}

.calculator .container #homex .row .calculate_box .number_azn li:nth-child(2){
    border-bottom: 1px solid #e2b41d;
}

.calculator .container #homex .row .calculate_box{
    display: flex;
    height: 587px;
    padding: 60px 80px;
    border-radius: 16px;
    box-shadow: 0px 16px 56px rgba(0, 0, 0, 0.16);
    margin-top: 20px;
}

.calculator .container #homex .row .calculate_box h4{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.calculator .container #homex .row .calculate_box .input_container{
    width: 40%;
    height: 467px;
    padding-right: 100px;
    border-right: 1px solid #D7D8D6;
}

.calculator .container #homex .row .calculate_box .input_container h5,.result_container h5{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #231F20;
    margin-bottom: 45px;
}

.calculator .container #homex .row .calculate_box .input_container .form_element{
    width: 336px;
    height: 75px;
    margin-bottom: 25px;
    padding: 10px 0 0 35px;
    border: 1px solid #D7D8D6;
    border-radius: 8px;
}

.calculator .container #homex .row .calculate_box .input_container .form_element .range-slider input{
    width: 325px;
    margin-left: -30px;
}

.calculator .container #homex .row .calculate_box .input_container .form_element .number_azn{
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    display: flex;
}

.calculator .container #homex .row .calculate_box .input_container .form_element p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #5F6369;
    margin: 0;
}

.calculator .container #homex .row .calculate_box .result_container{
    width: 60%;
    height: 467px;
    padding-left: 80px;
}

.calculator .container #homex .row .calculate_box .result_container .result_numbers{
    display: flex;
}

.calculator .container #homex .row .calculate_box .result_container .result_numbers .result_for_month{
    height: 67px;
    font-size: 32px;
    letter-spacing: 0.06em;
    color: #231F20;
    margin-right: 60px;
}

.calculator .container #homex .row .calculate_box .result_container .result_numbers .result_for_month p{
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.06em;
    color: #5F6369;
}

.calculator .container #homex .row .calculate_box .result_container button{
    margin-top: 60px;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.12em;
    color: #231F20;
    padding: 16px 30px;
    background: #F9C20A;
    transition: 0.2s;
}

.calculator .container #homex .row .calculate_box .result_container button:hover{
    background-color: #f8a03b;
}

.calculator .container #homex .row{
    padding: 28px 0 41px 0;
}

.calculator .container #homex{
    padding-top: 40px;
}

.calculator .tab_content_calc{
    display: none;
  }

 .calculator .active.tab_content_calc{
    display: block;
  }

  /* ************************ CALCULATOR ==> PRICINGX SECTION ****************************/

  .calculator .container #pricingx .row .calculate_box{
    display: flex;
    height: 587px;
    padding: 60px 80px;
    border-radius: 16px;
    box-shadow: 0px 16px 56px rgba(0, 0, 0, 0.16);
    margin-top: 20px;
}

.calculator .container #pricingx .row .calculate_box h4{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.calculator .container #pricingx .row .calculate_box .input_container{
    width: 40%;
    height: 467px;
    padding-right: 100px;
    border-right: 1px solid #D7D8D6;
}

.calculator .container #pricingx .row .calculate_box .input_container h5,.result_container h5{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #231F20;
    margin-bottom: 45px;
}

.calculator .container #pricingx .row .calculate_box .input_container .form_element{
    width: 336px;
    height: 75px;
    margin-bottom: 25px;
    padding: 10px 0 0 35px;
    border: 1px solid #D7D8D6;
    border-radius: 8px;
}

.calculator .container #pricingx .row .calculate_box .input_container .form_element .range-slider input{
    width: 325px;
    margin-left: -30px;
}

.calculator .container #pricingx .row .calculate_box .input_container .form_element .number_azn{
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    display: flex;
}

.calculator .container #pricingx .row .calculate_box .input_container .form_element p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #5F6369;
    margin: 0;
}

.calculator .container #pricingx .row .calculate_box .result_container{
    width: 60%;
    height: 467px;
    padding-left: 80px;
}

.calculator .container #pricingx .row .calculate_box .result_container .result_numbers{
    display: flex;
}

.calculator .container #pricingx .row .calculate_box .result_container  .result_for_month{
    height: 67px;
    font-size: 32px;
    letter-spacing: 0.06em;
    color: #231F20;
    margin-right: 60px;
}

.calculator .container #pricingx .row .calculate_box .result_container  .result_for_month:nth-child(3){
    margin-top: 20px;
}

.calculator .container #pricingx .row .calculate_box .number_azn li:nth-child(2){
    border-bottom: 1px solid #e2b41d;
}

.calculator .container #pricingx .row .calculate_box .result_container  .result_for_month p{
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.06em;
    color: #5F6369;
}

.calculator .container #pricingx .row .calculate_box .result_container button{
    margin-top: 60px;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.12em;
    color: #231F20;
    padding: 16px 30px;
    background: #F9C20A;
    transition: 0.2s;
}

.calculator .container #pricingx .row .calculate_box .result_container button:hover{
    background-color: #f8a03b;
}

.calculator .container #pricingx .row{
    padding: 28px 0 41px 0;
}

.calculator .container #pricingx{
    padding-top: 40px;
}

.calculator .tab_content_calc{
    display: none;
  }

 .calculator .active.tab_content_calc{
    display: block;
  }

 .calculator .tab{
    cursor: pointer;
    padding: 10px;
  }


/************************* CALCULATOR ==> CURRENCY ==> CASH_CONTAINER SECTION ***************************/


.calculator .container #currency .row .cash_container thead td{
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #616173;
    font-weight: 600;
    padding: 15px;
    border-bottom: 1px solid #D7D8D6;
    text-align: center;
}

.calculator .container #currency .row .cash_container thead td:nth-child(1){
    text-align: left;
}

.calculator .container #currency img{
    margin-right: 20px;
    margin-top: -5px;
    vertical-align: middle;
    border-style: none;
    display: inline-block;
}

.calculator .container #currency .row .cash_container thead td:nth-child(2),
.calculator .container #currency .row .cash_container thead td:nth-child(3),
.calculator .container #currency .row .cash_container thead td:nth-child(4),
.calculator .container #currency .row .cash_container thead td:nth-child(5),
.calculator .container #currency .row .cash_container thead td:nth-child(6){
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: #000000;
}

.calculator .container #currency .row .cash_container tbody td:nth-child(2),
.calculator .container #currency .row .cash_container tbody td:nth-child(3),
.calculator .container #currency .row .cash_container tbody td:nth-child(4),
.calculator .container #currency .row .cash_container tbody td:nth-child(5),
.calculator .container #currency .row .cash_container tbody td:nth-child(6){
    padding: 15px;
    border-bottom: 1px solid #D7D8D6;
    text-align: center;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #000000;
}

.calculator .container #currency .row .cash_container tbody td{
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #616173;
    padding: 15px;
    border-bottom: 1px solid #D7D8D6;
}

.calculator .container #currency .row{
    padding:28px 0 41px 0;
}

.calculator .container #currency{
    padding-top: 40px;
}

.calculator .tab_content_currency{
    display: none;
}

 .calculator .active.tab_content_currency{
    display: block;
}

.calculator .container #currency table{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.calculator .container #currency button{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #231F20;
    cursor: pointer;
    background: #F5F5F5;
    width: 100%;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.calculator .container #currency button:hover{
    background-color: #fd9f34;
}

.calculator .container #currency p{
    margin-top: 15px;
    font-size: 18px;
}

/************************* CALCULATOR ==> CURRENCY ==> CASHLESS_CONTAINER SECTION ***************************/

.calculator .container #currency .row .cashless_container thead td{
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #616173;
    font-weight: 600;
    padding: 15px;
    border-bottom: 1px solid #D7D8D6;
    text-align: center;
}

.calculator .container #currency .row .cashless_container thead td:nth-child(1){
    text-align: left;
}

.calculator .container #currency img{
    margin-right: 20px;
    margin-top: -5px;
    vertical-align: middle;
    border-style: none;
    display: inline-block;
}

.calculator .container #currency .row .cashless_container thead td:nth-child(2),
.calculator .container #currency .row .cashless_container thead td:nth-child(3),
.calculator .container #currency .row .cashless_container thead td:nth-child(4),
.calculator .container #currency .row .cashless_container thead td:nth-child(5),
.calculator .container #currency .row .cashless_container thead td:nth-child(6){
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: #000000;
}

.calculator .container #currency .row .cashless_container tbody td:nth-child(2),
.calculator .container #currency .row .cashless_container tbody td:nth-child(3),
.calculator .container #currency .row .cashless_container tbody td:nth-child(4),
.calculator .container #currency .row .cashless_container tbody td:nth-child(5),
.calculator .container #currency .row .cashless_container tbody td:nth-child(6){
    padding: 15px;
    border-bottom: 1px solid #D7D8D6;
    text-align: center;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #000000;
}

.calculator .container #currency .row .cashless_container tbody td{
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #616173;
    padding: 15px;
    border-bottom: 1px solid #D7D8D6;
}

.calculator .container #currency .row{
    padding:28px 0 41px 0;
}

.calculator .container #currency{
    padding-top: 40px;
}

.calculator .tab_content_c{
    display: none;
}

 .calculator .active.tab_content_c{
    display: block;
}

/************************* CALCULATOR ==> CURRENCY ==> CARD_TR_CONTAINER SECTION ***************************/

.calculator .container #currency .row .card_tr_container thead td{
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #616173;
    font-weight: 600;
    padding: 15px;
    border-bottom: 1px solid #D7D8D6;
    text-align: center;
}

.calculator .container #currency .row .card_tr_container thead td:nth-child(1){
    text-align: left;
}

.calculator .container #currency img{
    margin-right: 20px;
    margin-top: -5px;
    vertical-align: middle;
    border-style: none;
    display: inline-block;
}

.calculator .container #currency .row .card_tr_container thead td:nth-child(2),
.calculator .container #currency .row .card_tr_container thead td:nth-child(3),
.calculator .container #currency .row .card_tr_container thead td:nth-child(4),
.calculator .container #currency .row .card_tr_container thead td:nth-child(5),
.calculator .container #currency .row .card_tr_container thead td:nth-child(6){
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: #000000;
}

.calculator .container #currency .row .card_tr_container tbody td:nth-child(2),
.calculator .container #currency .row .card_tr_container tbody td:nth-child(3),
.calculator .container #currency .row .card_tr_container tbody td:nth-child(4),
.calculator .container #currency .row .card_tr_container tbody td:nth-child(5),
.calculator .container #currency .row .card_tr_container tbody td:nth-child(6){
    padding: 15px;
    border-bottom: 1px solid #D7D8D6;
    text-align: center;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #000000;
}

.calculator .container #currency .row .card_tr_container tbody td{
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #616173;
    padding: 15px;
    border-bottom: 1px solid #D7D8D6;
}

.calculator .container #currency .row{
    padding:28px 0 41px 0;
}

.calculator .container #currency{
    padding-top: 40px;
}

.calculator .tab_content_c{
    display: none;
}

 .calculator .active.tab_content_c{
    display: block;
}

/* ********************* QR SECTION ********************** */

.qr_section{
    height: auto;
    background: url(../assets/24bg.png);
}

.qr_section .container{
    width: 83%;
}

.qr_section .container .img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr_section .container img{
    height: 416px;
    margin-top: -31px;
}

.qr_section .container .text-box{
    display: grid;
    align-items: center;
    padding: 80px 0 80px 0; 
}

.qr_section .container .text-box h3{
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.06em;
    color: #FFF;
}

.qr_section .container .text-box p:nth-child(2){
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #FFF;
    margin-top: 30px;
}

.qr_section .container .text-box p:nth-child(3){
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #FFF;
}

.qr_section .container .text-box p img{
    width: 10px;
    height: 19px;
    margin-top: 1px;
}

.qr_section .container .qr_box{
    height: 356px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.qr_section .container svg{
    width: 206px;
    height: 206px;
}
